@use "../../sass/" as *;
@import "../../sass/responsive";

.started {
  margin-top: 200px;
  @include maxWidth(70%);
  @include lg-down {
    @include maxWidth(90%);
  }

  &_container {
    @include gridPropertiesCol(2);
    align-items: center;
    position: relative;
    @include lg-down {
      display: block;
    }
    &_spotlight {
      position: absolute;
      width: 304px;
      height: 100vh;
      left: 30%;
      bottom: -40%;
      background: rgba(45, 72, 152, 0.75);
      filter: blur(200px);
      transform: rotate(-53.13deg);
    }
    &_left {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &_right {
      h3 {
        @include subTitle;
      }
      h1 {
        @include title;

        @include sm-down {
          font-size: 36px;
          line-height: 48px;
        }
      }

      &_list {
        &_item {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin: 2rem 0;
          p {
            &:nth-child(1) {
              background: rgba(255, 255, 255, 0.08);
              backdrop-filter: blur(24px);
              font-size: 24px;
              padding: 16px;
              border-radius: 16px;
            }

            &:nth-child(2) {
              font-weight: 400;
              font-size: 18px;
              line-height: 32px;
              color: #b0b0b0;
            }
          }
        }
      }
    }
  }
}
