@use "../../sass/" as *;
@import "../../sass/responsive";

.around {
  margin-top: 200px;
  position: relative;
  @include maxWidth(70%);

  @include lg-down {
    @include maxWidth(90%);
    margin-top: 100px;
  }
  &_spotlight {
    position: absolute;
    width: 404px;
    height: 800px;
    right: -20%;
    top: -30%;
    background: rgba(149, 66, 232, 0.35);
    filter: blur(175px);
  }
  &_container {
    text-align: center;
    h3 {
      @include subTitle;
    }
    h1 {
      @include title;

      @include sm-down {
        font-size: 36px;
        line-height: 48px;
      }
    }

    &_detail {
      position: relative;
      width: 100%;
      height: 700px;
      @include lg-down {
        margin-top: 40px;
      }
      img {
        width: 100%;
        height: 100%;
        @include lg-down {
          object-fit: cover;
        }
      }

      &_people {
        position: absolute;
        width: 90px;
        height: 90px;
        background: rgb(93 102 128);
        border-radius: 50%;
        @include lg-down {
          width: 120px;
          height: 120px;
        }
        img {
          width: 100%;
          height: 100%;
          padding: 8px;
        }

        &:nth-child(2) {
          top: 45%;
          left: 48%;
          transform: translate(-48%, -45%);
          @include lg-down {
            top: 40%;
            left: 45%;
            transform: translate(-45%, -40%);
          }
        }

        &:nth-child(3) {
          left: 10%;
          top: 10%;
        }

        &:nth-child(4) {
          right: 5%;
          bottom: 15%;

          @include lg-down {
            top: 10%;
          }
        }
      }
    }
  }
}
