@use "../../sass/" as *;
@import "../../sass/responsive";

.world {
  margin-top: 200px;
  @include maxWidth(70%);
  @include lg-down {
    @include maxWidth(90%);
  }

  &_container {
    h3,
    h1 {
      text-align: center;
    }
    h3 {
      @include subTitle;
    }

    h1 {
      @include title;
      max-width: 70%;
      margin-inline: auto;
      margin-bottom: 50px;
      @include lg-down {
        max-width: 90%;
      }

      @include sm-down {
        font-size: 36px;
      }
    }

    &_list {
      display: flex;
      height: 650px;
      // width: 100%;
      gap: 1.25rem;
      @include lg-down {
        display: block;
        height: auto;
      }
      &_item {
        flex: 1;
        transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
        position: relative;
        @include lg-down {
          margin-bottom: 1.5rem;
        }

        @include sm-down {
          height: 30vh;
        }
        img {
          object-fit: cover;
          border-radius: 16px;
        }

        p,
        h4 {
          display: none;
        }

        h2 {
          position: absolute;
          bottom: 20%;
          right: 0;
          transform: rotateZ(-90deg);
          @include lg-down {
            transform: rotateZ(0deg);
            padding-right: 2rem;
          }
        }
      }

      .active {
        flex: 3;

        @include lg-down {
          flex-grow: 3;
        }

        .world_container_list_item_detail {
          position: absolute;
          bottom: 0%;
          background: rgb(0, 0, 0, 0.5);
          width: 100%;
          height: auto;
          border-radius: 0 0 16px 16px;
          padding: 1rem 0 0 3rem;

          @include lg-down {
            height: auto;
            padding-bottom: 1rem;
          }

          @include sm-down {
            height: 100%;
          }
          p {
            display: block;
            font-size: 28px;

            background: hsla(0, 0%, 100%, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border: 1px solid hsla(0, 0%, 100%, 0.18);
            border-radius: 20px;

            width: fit-content;
            height: 56px;

            display: grid;
            place-items: center;
            span {
              padding: 16px;
            }
          }

          h4 {
            display: block;
            padding: 1.5rem 0 2rem;

            @include sm-down {
              font-size: 16px;
              padding: 16px 0;
            }
          }

          h2 {
            font-size: 36px;
            padding-bottom: 16px;
            position: unset;
            transform: unset;

            @include sm-down {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
