.blur-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: pulse 2.5s infinite;
    background-color: #2b59ff;
    pointer-events: none;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }

  &.loaded::before {
    animation: none;
    content: none;
  }

  img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    pointer-events: auto;
  }

  &.loaded img {
    opacity: 1;
  }
}
